<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Club setup</title>
</head>
<body>
Welcome to the Club settings page.
<h1>Form</h1>
<form action="#" th:action="@{/club}" th:object="${club}" method="post">
    <p> Club Name: <input type="text" th:field="${club.clubName}"/></p>
    <p> <input type="submit" value="Submit" />
        <input type="reset" value="Reset"/></p>
    <p></p>
    <div th:if="${clubs != null}">
        <table>
            <th:block th:each="club : ${clubs}" th:object="${club}">
                <tr>
                    <td th:text="*{clubName}"></td>
                    <td th:text="*{id}"></td>
                </tr>
            </th:block>
        </table>

    </div>
    <div th:if="${pitches != null}">
        <table>
            <th:block th:each="pitch : ${pitches}" th:object="${pitch}">
                <tr>
                    <td th:text="*{name}"></td>
                    <td th:text="*{id}"></td>
                </tr>
            </th:block>
        </table>
    </div>
    <div th:object="${club}">
        <p>Pitches: <span th:text="*{pitches}">Clubs Pitches</span>.</p>
    </div>
    <div>
        <select th:field="*{pitches}">
            <option th:each="Pitches : ${pitches}" th:value="${pitch}" th:text="${pitch.name}">Casement Park</option>
        </select>
    </div>
</form>
</body>
</html>