<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Club settings</title>
    <script type="text/javascript">
        $(function () {
            $("#deleteItem").click(function () {
                $("#action").val("delete");
                $("#frmClub").submit();
            });
        });
        $(function () {
            $("#addPlayerToFamily").click(function () {
                $("#action").val("addPitchToClub");
                $("#frmClub").submit();
            });
        });
    </script>
</head>
<body>
<h1>Set the Club up</h1>


<h2>Form</h2>
<form action="#" th:action="@{/addPitch}" th:object="${club}" method="post">
Club:   <select th:field="*{id}">
    <option th:each="club : ${clubs}"
            th:value="${club.id}"
            th:text="${club.clubName}">Club</option>
    </select>

    <input type="submit" value="Select Club">
</form>

<form action="#" th:action="@{/addPitch}" th:object="${pitch}" method="post">
    <div th:if="${activeClub != null}">
        <p th:text="${activeClubName}">Your club Name</p>
        <input type="hidden" th:value="${activeClubName}" th:attr="name='activeClubName'" />
        <input type="hidden" th:value="${activeClubId}" th:attr="name='activeClubId'" />
    Pitch:   <select th:field="*{id}">
    <option th:each="pitch : ${pitches}"
            th:value="${pitch.id}"
            th:text="${pitch.name}">Pitch</option>
    </select>

    <input type="submit" value="Allocate Pitch to Club">
    </div>
</form>
<div th:if="${populatedClubs != null}">
    <table>
        <th:block th:each="club : ${populatedClubs}" th:object="${club}">
            <tr>
                <td th:text="*{clubName}"></td>
                <td th:if="${club.pitches.size()>0}" th:text="${club.pitches.get(0).name}"></td>
            </tr>
        </th:block>
    </table>
</div>
<div class="panel-group" id="panel-123">
    <th:block th:each="club : ${populatedClubs}">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title" data-toggle ="collapse"
                   href="|#panel-element-${#strings.replace(club, ' ','-')}|"
                   th:text="${club.clubName}">Club name</a>
            </div>
            <th:block th:each="pitch : ${club.getPitches()}">
                <div th:id="|panel-element-${#strings.replace(club,' ','-')}|"
                     class="panel-collapse collapse in">
                    <div class="panel-body" th:text="${pitch.name}"></div>
                </div>
            </th:block>
        </div>
    </th:block>
</div>
</body>
</html>