<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Club settings</title>
    <script type="text/javascript">
        $(function () {
            $("#deleteItem").click(function () {
                $("#action").val("delete");
                $("#frmClub").submit();
            });
        });
        $(function () {
            $("#addPlayerToFamily").click(function () {
                $("#action").val("addPitchToClub");
                $("#frmClub").submit();
            });
        });
    </script>
</head>
<body>
<h1>Set the Club up</h1>


<h2>Form</h2>
<form action="#" th:action="@{/addPitch}" th:object="${club}" method="post">
Club:   <select th:field="*{id}">
    <option th:each="club : ${clubs}"
            th:value="${club.id}"
            th:text="${club.clubName}">Club</option>
    </select>

    <input type="submit" value="Select Club">
</form>

<form action="#" th:action="@{/addPitch}" th:object="${pitch}" method="post">
    <div th:if="${activeClub != null}">
        <p th:text="${activeClubName}">Your club Name</p>

    Pitch:   <select th:field="*{id}">
    <option th:each="pitch : ${pitches}"
            th:value="${pitch.id}"
            th:text="${pitch.name}">Pitch</option>
    </select>

    <input type="submit" value="Allocate Pitch to Club">
    </div>
</form>
</body>
</html>