<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Edit Users roles</h1>

<h3><b><u>Users details</u></b></h3>
<div th:if="${user != null}">
    <table th:object="${user}">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Mobile Phone Number</th>
            <th>Date of Birth</th>
            <th>Password</th>
            <th>Enabled</th>
            <th>User id</th>
        </tr>
        <tr>
            <td th:text="*{firstName}"></td>
            <td th:text="*{lastName}"></td>
            <td th:text="*{email}"></td>
            <td th:text="*{mobileNo}"></td>
            <td th:text="*{dateOfBirth}"></td>
            <td th:text="*{passWord}"></td>
            <td th:text="*{enabled}"></td>
            <td th:text="*{userId}"></td>
        </tr>
    </table>
    <div th:if="${user !=null}">
        <form action="#" th:action="@{/user/{id}/roles(id=${user.userId})}" th:object="${clubRole}" method="post">
            <p th:text="${user.userId}"></p>
            <table>
                <tr>
                    <th>Club</th>
                    <th>Age Group</th>
                    <th>Code</th>
                    <th>Role</th>
                    <th>Season</th>
                    <th> </th>
                </tr>
                <tr>
                    <td>
                        <select th:field="*{club.id}">
                            <option th:each="club: ${clubs}"
                                    th:value="${club.id}"
                                    th:text="${club.clubName}">Club or School</option>
                        </select>
                    </td>
                    <td>
                        <select th:field="*{ageGrouping}">
                            <option th:each="ageGroup: ${ageGroups}"
                                    th:value="${ageGroup.ageGrouping}"
                                    th:text="${ageGroup.ageGrouping}">Age Group</option>
                        </select>
                    </td>
                    <td>
                        <select th:field="*{code}">
                            <option th:each="gameType: ${codes}"
                                    th:value="${gameType.code}"
                                    th:text="${gameType.code}">Game Type</option>
                        </select>
                    </td>
                    <td>
                        <select th:field="*{role}">
                            <option th:each="role: ${roles}"
                                    th:value="${role}"
                                    th:text="${role.role}">Role</option>
                        </select>
                    </td>
                    <td>
                        <select th:field="*{year}">
                            <option th:each="season: ${seasons}"
                                    th:value="${season}"
                                    th:text="${season}">Year</option>
                        </select>
                    </td>
                    <td>
                        <input type="submit" value="Add">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>