<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Displayed List of Users</h1>
<h3>Enter new User:-</h3>
<form action="#" th:action="@{/users}" th:object="${user}" method="post">
    <p> First Name: <input type="text" th:field="*{firstName}"/>
    <p> Last Name: <input type="text" th:field="*{lastName}"/>
    <p> Email Address: <input type="email" th:field="*{email}"/>
    <p> Mobile Number: <input type="tel" th:field="*{mobileNo}"/>
    <p> Date of Birth: <input type="date" th:field="*{dateOfBirth}"/>
    <p> Password: <input type="password" th:field="*{passWord}"/>
    <div><input type="submit" value="Create User"/></div>
</form>
<h3><b><u>List of existing users</u></b></h3>
<div th:if="${users != null}">
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Mobile Phone Number</th>
            <th>Date of Birth</th>
            <th>Password</th>
            <th>Enabled</th>
            <th>Edit User</th>
        </tr>
        <th:block th:each="user : ${users}" th:object="${user}">
            <tr>
                <td th:text="*{firstName}"></td>
                <td th:text="*{lastName}"></td>
                <td th:text="*{email}"></td>
                <td th:text="*{mobileNo}"></td>
                <td th:text="*{dateOfBirth}"></td>
                <td th:text="*{passWord}"></td>
                <td th:text="*{enabled}"></td>
                <td><a th:href="@{/user/{id}/roles(id=${user.userId})}">Edit</a></td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>